.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url(../img/blue-abstract-glass-balls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#board {
    min-height: 100px;
    min-width: 100px;
    align-self: center;
    margin: 50px auto;
    display: table;
    border-collapse: collapse;
    div {
        width: 10px;
        height: 10px;
        border: .5px solid #fff;
        background-color: rgba(255, 255, 255, 0.6);
        float: left;
        display: table-cell;
    }
    .live {
        background-color: #000000;
    }
}

#game-set {
    display: flex;
    align-self: center;
    margin: 0 auto;
    button {
        margin: 0 10px;
    }
}